@page "/profile"
@layout MainLayout
@using HandmadeShop.Web.Common
@inherits ProfileBase


@* TODO: Разбить на компоненты *@
<MudStack>
    <MudPaper Class="mt-8" Width="90%" Height="400px" Elevation="0">
        <MudText Class="mb-4" Typo="Typo.h4">Мой профиль</MudText>
        <MudTabs Elevation="2" Rounded="true" ApplyEffectsToContainer="true" PanelClass="pa-6">
            <MudTabPanel Text="Личный данные">
                <MudGrid>
                    @if (Model is null)
                    {
                        <MudProgressCircular Color="Color.Default" Indeterminate="true" />
                    }
                    else
                    {
                         <MudItem xs="3">
                        @if (Model.AvatarUrl is not null)
                        {
                            <MudImage ObjectPosition="ObjectPosition.Center" 
                                      Class="rounded-circle" 
                                      Width="200" Height="200" 
                                      Src="@Model.DownloadPath"/>
                            
                            <div class="d-flex justify-content-center mt-4">
                                <MudButton Variant="Variant.Filled"
                                           StartIcon="@Icons.Material.Filled.Delete" 
                                           Color="Color.Error"
                                           Class="justify-content-center"
                                           OnClick="@DeleteAsync">
                                    Удалить
                                </MudButton>
                                
                            </div>
                        }
                        else
                        {
                            if (Avatar is not null)
                            {
                                <MudListItem Icon="@Icons.Material.Filled.AttachFile" @key="@Avatar">
                                    @Avatar.Name <code>@Avatar.Size bytes</code>
                                </MudListItem>

                                <MudButton OnClick="@UploadAsync"
                                           Class="mt-4"
                                           Color="Color.Primary"
                                           Disabled="false"
                                           Variant="Variant.Filled">
                                    Загрузить
                                </MudButton>
                            }
                            else
                            {
                                <div class="d-flex justify-content-center mt-4">
                                    <MudFileUpload T="IBrowserFile" 
                                                   Accept=".png, .jpg, .svg, .gif" 
                                                   MaximumFileCount="1" 
                                                   OnFilesChanged="UploadFiles">
                                        <ButtonTemplate>
                                            <MudIconButton HtmlTag="label"
                                                           Color="Color.Info"
                                                           Icon="@Icons.Material.Filled.PhotoCamera"
                                                           for="@context.Id">
                                            </MudIconButton>
                                        </ButtonTemplate>
                                    </MudFileUpload>
                                </div>
                            }
                        }
                    </MudItem>
                    <MudItem xs="9">
                        <UpdateProfileInfo Model="@Model"/>
                    </MudItem>
                    }
                   
                </MudGrid>
                
                
                
            </MudTabPanel>
    
            <MudTabPanel Text="Смена пароля">
                <MudItem xs="6" sm="4">
                    <MudAlert Severity="Severity.Error" Class="@(ShowErrors ? "mb-3 d-block" : "d-none")">
                        @ErrorDetail
                    </MudAlert>
    
                    <MudTextField @bind-Value="ResetPwdModel.Password" For="@(() => ResetPwdModel.Password)"
                                  Label="Password"
                                  InputType="@PasswordInput"
                                  Adornment="Adornment.End"
                                  AdornmentIcon="@PasswordInputIcon"
                                  Required="true"
                                  RequiredError="Password is required!"
                                  OnAdornmentClick="@(() => ChangeVisibility(PasswordType.Password))"/>
    
                    <MudTextField @bind-Value="ResetPwdModel.ConfirmPassword" For="@(() => ResetPwdModel.ConfirmPassword)"
                                  Label="Confirm Password"
                                  InputType="@PasswordConfirmInput"
                                  Adornment="Adornment.End"
                                  AdornmentIcon="@PasswordConfirmInputIcon"
                                  Required="true"
                                  RequiredError="Password is required!"
                                  OnAdornmentClick="@(() => ChangeVisibility(PasswordType.ConfirmPassword))"
                                  Validation="@(new Func<string, string>(PasswordMatch))"/>
    
                    <MudButton Variant="Variant.Filled"
                               Color="Color.Primary"
                               Disabled="@(!IsSuccess)"
                               Size="Size.Large"
                               OnClick="@(async () => await OnValidSubmit())"
                               Class="ml-auto mt-4">Сохранить</MudButton>
                                    
                </MudItem>

            </MudTabPanel>
    
            <MudTabPanel Text="Мои товары">
                <MudText>Content Three</MudText>
            </MudTabPanel>
            
            <MudTabPanel Text="Адреса доставки">
                <MudText>Content Three</MudText>
            </MudTabPanel>
            
        </MudTabs>
    </MudPaper>
</MudStack>
