@page "/register"
@inherits RegisterBase
@layout SimpleLayout
@inject IDialogService DialogService

<MudButton @onclick="OpenDialog" Variant="Variant.Filled" Color="Color.Primary">
    Open Simple Dialog
</MudButton>
@if (!Success)
{
    <MudStack Row="true" Justify="Justify.Center" Class="pa-6 mt-6">
        <MudItem xs="5" sm="4">
            <MudPaper Class="pa-4" Elevation="2">
                <EditForm Model="@Model" OnValidSubmit="OnValidSubmit">
    
                    <MudText Typo="Typo.h4" GutterBottom="true" Class="mb-3">Регистрация</MudText>
    
                    <MudAlert Severity="Severity.Error" Class="@(ShowErrors ? "mb-3 d-block" : "d-none")">
                        @Error
                        <br />
                        @ErrorDetail
                    </MudAlert>
                    
                    <MudTextField T="string"
                                  @bind-Value="Model.Name"
                                  For="@(() => Model.Name)"
                                  Label="Name"
                                  HelperText="Input your name"
                                  Required="true"
                                  RequiredError="Name is required!"/>
                    
                    <MudTextField T="string"
                                  @bind-Value="Model.Email" For="@(() => Model.Email)"
                                  Label="Email"
                                  HelperText="Input your email"
                                  Validation="@(new EmailAddressAttribute { ErrorMessage = "The email address is invalid" })"/>
                    
                    <MudTextField @bind-Value="Model.Password" For="@(() => Model.Password)"
                                  Label="Password"
                                  HelperText="Input your password"
                                  InputType="@PasswordInput"
                                  Adornment="Adornment.End"
                                  AdornmentIcon="@PasswordInputIcon"
                                  Required="true"
                                  RequiredError="Password is required!"
                                  OnAdornmentClick="TogglePasswordVisibility" />
                    
                    <div Class="d-flex justify-space-between align-center mt-4">
                        <MudButton Variant="Variant.Filled"
                                   Color="Color.Primary"
                                   Size="Size.Large"
                                   ButtonType="ButtonType.Submit">Регистрация</MudButton>
                    </div>
                    
                    <div class="mt-4 mb-4">
                        <MudText Align="Align.Center">Есть аккаунт? <MudLink Href="/login">Войти</MudLink></MudText>
                    </div>
    
                </EditForm>
            </MudPaper>
            </MudItem>
    </MudStack>
}
else
{
    <SuccessRegister/>
}

@code {

    private void OpenDialog()
    {
        var options = new DialogOptions { CloseOnEscapeKey = true };
        DialogService.Show<DialogUsageExample_Dialog>("Simple Dialog", options);
    }
}

