@page "/reset-password"
@inherits ResetPasswordBase

<MudStack Row="true" Justify="Justify.Center" Class="pa-6 mt-6">
    <MudItem xs="6" sm="4">
        <MudPaper Class="pa-4">
            <MudForm @ref="Form" @bind-IsValid="@IsSuccess" @bind-Errors="@ValidationErrors">
                <MudText Typo="Typo.h4" Align="Align.Center" GutterBottom="true" Class="mb-3">Сброс пароля</MudText>
                <MudText Typo="Typo.body1" Align="Align.Center" GutterBottom="true" Class="mb-3">Введите и подтвердите новый пароль</MudText> 
                
                <MudAlert Severity="Severity.Error" Class="@(ShowErrors ? "mb-3 d-block" : "d-none")">
                    @ErrorDetail
                </MudAlert>
                
                <MudTextField T="string"
                              Label="Password"
                              HelperText="Choose a strong password"
                              @bind-Value="Model.Password" For="@(() => Model.Password)"
                              InputType="InputType.Password"
                              Required="true"
                              RequiredError="Password is required!"/>

                <MudTextField T="string"
                              Label="Confirmation Password"
                              @bind-Value="Model.ConfirmPassword" For="@(() => Model.ConfirmPassword)"
                              HelperText="Repeat the password"
                              InputType="InputType.Password"
                              Validation="@(new Func<string, string>(PasswordMatch))"/>


                <div class="justify-content-center mt-4">
                    <MudButton Variant="Variant.Filled"
                               Color="Color.Primary"
                               Disabled="@(!IsSuccess)"
                               Size="Size.Large"
                               OnClick="@(async () => await OnValidSubmit())"
                               Class="ml-auto">Сохранить</MudButton>

                    <MudText Align="Align.Center" Class="mt-4">Нет аккаунта? <MudLink Href="/register">Зарегистрируйтесь</MudLink></MudText>
                    <MudText Align="Align.Center" Class="mt-4">Уже есть аккаунт? <MudLink Href="/login">Войти</MudLink></MudText>
                </div>
            </MudForm>   
        </MudPaper>
    </MudItem>
</MudStack>
