@page "/catalog/{CatalogName}"
@inherits CatalogBase
@layout MainLayout

@attribute [Authorize]

@if (PagedList is null)
{
    <div class="spinner">
        <MudProgressCircular Color="Color.Default" Indeterminate="true" />
    </div>  
    
    @* @for (var i = 0; i < @PageSize; i++) *@
    @* { *@
    @*     <MudSkeleton /> *@
    @*     <MudSkeleton SkeletonType="SkeletonType.Circle" Width="50px" Height="50px" /> *@
    @*     <MudSkeleton SkeletonType="SkeletonType.Rectangle" Width="200px" Height="110px" /> *@
    @* } *@

}
else
{
    <div class="d-flex mt-5 mb-5">
        <MudText Class="mr-3" Style="font-weight: bold;" Typo="Typo.h5">@CatalogName</MudText>
        <MudText Typo="Typo.h6">Страница - @Page</MudText>
        <div class="d-flex align-items-center justify-content-center ml-3">
            <MudText>Всего товаров: @PagedList.TotalCount</MudText>
        </div>
        
    </div>


    <MudGrid>
        <MudItem xs="2">
            <MudPaper>Фильтрация</MudPaper>
            
            @* <MudSelect T="string" Value="SelectValue" ValueChanged="SelectedSort" Variant="Variant.Outlined" AnchorOrigin="Origin.BottomCenter"> *@
            @*     @foreach (var item in SortList) *@
            @*     { *@
            @*         <MudSelectItem  T="string" Value="item.Item2">@item.Item1</MudSelectItem> *@
            @*     } *@
            @* </MudSelect> *@
            
            <MudSelect T="SortItem" Value="SortItem" ValueChanged="@SelectedSort" Variant="Variant.Outlined" AnchorOrigin="Origin.BottomCenter">
                @foreach (var item in @SortItems)
                {
                    <MudSelectItem Value="item"/>
                }
            </MudSelect>
            
            @* <div class="d-flex"> *@
            @*     <MudSlider Value="50" Variant="Variant.Filled"/> *@
            @*     <MudSlider Value="50" Variant="Variant.Filled"/> *@
            @* </div> *@
            
            @* <DoubleRange MaxValue="PagedList.MaxPrice" From="PriceFrom" To="PriceTo" OnChangeCallback="OnRangeChanged" MinValue="PagedList.MinPrice" /> *@
            
            
        </MudItem>

        <MudItem xs="10">
            <MudPaper>Список кард</MudPaper>
            
            <CascadingValue Value="this">
                <CascadingValue Value="FavoriteProducts">
                    <ProductsView PagedList="PagedList"/>
                </CascadingValue>
            </CascadingValue>
            
            <div class="d-flex flex-column align-center mt-10">
                <MudPagination Selected="Page" SelectedChanged="@Selected" Rectangular="true" Variant="Variant.Filled" Count="@PageCount" Class="my-4" />
            </div>
        </MudItem>
        
    </MudGrid>

}


