@page "/catalog/{CatalogName}"
@inherits CatalogBase
@layout MainLayout
@attribute [Authorize]

@if (PagedList is null || IsLoading)
{
    <div class="center">
       <MudProgressCircular Color="Color.Default" Indeterminate="true" /> 
    </div>
    
    @* @for (var i = 0; i < @PageSize; i++) *@
    @* { *@
    @*     <MudSkeleton /> *@
    @*     <MudSkeleton SkeletonType="SkeletonType.Circle" Width="50px" Height="50px" /> *@
    @*     <MudSkeleton SkeletonType="SkeletonType.Rectangle" Width="200px" Height="110px" /> *@
    @* } *@

}

else
{
    <div class="d-flex mt-5 mb-5">
        <MudText Class="mr-3" Style="font-weight: bold;" Typo="Typo.h5">@CatalogName</MudText>
        <MudText Typo="Typo.h6">Страница - @Page</MudText>
        <div class="d-flex align-items-center justify-content-center ml-3">
            <MudText>Всего товаров: @PagedList.TotalCount</MudText>
        </div>
        
    </div>


    <MudGrid>
        <MudItem xs="3">
            
            <ProductFilter SortItem="SortItem" SelectedSortChanged="SelectedSort"/>
            
            <PriceFilter PagedList="PagedList"
                         PriceFrom="PriceFrom"
                         PriceTo="PriceTo"
                         UpperPriceChanged="UpperPriceChanged"
                         LowerPriceChanged="LowerPriceChanged"
                         RangeChanged="SendAsync"/>

        </MudItem>

        <MudItem xs="9">
            <CascadingValue Value="this">
                <CascadingValue Value="FavoriteProducts">
                    <ProductsView PagedList="PagedList"/>
                </CascadingValue>
            </CascadingValue>
            
            @if (PagedList.Items.Count > 0)
            {
                <div class="d-flex flex-column align-center mt-10">
                    <MudPagination Selected="Page" 
                                   SelectedChanged="@SelectedPage"
                                   Rectangular="true" 
                                   Variant="Variant.Filled"
                                   Count="@PageCount" 
                                   Class="my-4" />
                </div>
            }
            
        </MudItem>
        
    </MudGrid>

}
