@page "/product/{ProductId:guid?}"
@layout MainLayout
@inherits ProductBase
@attribute [Authorize]


@if (ProductId is null || ProductModel == null)
{
    <div class="d-flex justify-content-center mt-6">
        <MudButton StartIcon="@Icons.Material.Filled.Add"
                   Variant="Variant.Filled"
                   Color="Color.Primary"
                   OnClick="@((e) => CreateProduct())">
            Создать
        </MudButton>    
    </div>
    
}
else
{
    <MudText Typo="Typo.h5" Align="Align.Center" Class="mt-4">Карточка товара. Тут вы можете отредактировать либо удалить товар.</MudText>
    <div class="d-flex justify-content-center mt-4">
            <ProductCard IsEditable="false" Model="ProductModel"/>
    </div>
    
    <div class="d-flex justify-content-center mt-4">
	    <MudButton Class="mr-4" StartIcon="@Icons.Material.Filled.Edit" 
	               Variant="Variant.Filled" 
	               Color="Color.Warning"
	               OnClick="@((e) => EditProduct())">
		    Изменить
	    </MudButton>
                
	    <MudButton StartIcon="@Icons.Material.Filled.DeleteForever"
	               Variant="Variant.Filled"
	               Color="Color.Error"
	               OnClick="@((e) => DeleteProduct())">
		    Удалить
	    </MudButton>
    </div>
    
    <div class="d-flex justify-content-center mt-10 mb-10">
	    <MudPaper Width="600px">
		    <div>
			    <MudCarousel Class="mud-width-full" 
			                 @ref="@Carousel" 
			                 ItemsSource="@Images"
			                 @bind-SelectedIndex="SelectedIndex"
			                 Style="height:200px;" 
			                 ShowArrows="true"
			                 ShowBullets="true" 
			                 EnableSwipeGesture="true" 
			                 AutoCycle="false">
				    <ItemTemplate>
					    <div class="d-flex flex-column flex-column justify-center" style="height:100%">
						    <MudImage Src="@context.DownloadUrl" Elevation="25" Class="rounded-lg"/>
					    </div>
				    </ItemTemplate>
			    </MudCarousel>
			    
			    <br/>
			    
			    <MudFileUpload Class="ml-4" T="IBrowserFile" OnFilesChanged="UploadFiles">
				    <ButtonTemplate>
					    <MudButton HtmlTag="label"
					               Variant="Variant.Filled"
					               Color="Color.Primary"
					               StartIcon="@Icons.Material.Filled.CloudUpload"
					               for="@context.Id">
						    Загрузить Файл
					    </MudButton>
				    </ButtonTemplate>
			    </MudFileUpload>
			    
			    <MudButton Class="ml-4 ma-2" Variant="Variant.Filled" Color="Color.Error" OnClick="@(async () => await DeleteAsync(Carousel.SelectedIndex))">Удалить</MudButton>
        	                
		    </div>
	    </MudPaper>
	    
    </div>
}
